<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/%NUGET_GITHUB_USER%/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github> <!-- temporary -->
      <add key="Username" value="%NUGET_GITHUB_USER%" />
      <add key="ClearTextPassword" value="%NUGET_GITHUB_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
