<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key ="DefaultEndpoint" value =""/> <!-- http://192.168.178.100:8080 -->
      <add key ="AdminUserName" value =""/> <!-- D9A662916A199D43BADF208E2BC47F43575C68E6168273F7BF9F9EE2D5952E1A -->
      <add key ="AdminPassword" value =""/> <!-- 938728F1F8571F9630ADE3DC1D66A881 -->
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ModelWebServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!-- http://192.168.178.100:8080 -->
            <endpoint address=""
                binding="basicHttpBinding" bindingConfiguration="ModelWebServiceServiceSoapBinding"
                contract="MidpointModelWebService.modelPortType" name="ModelWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>